@font-face {
    font-family: "Cormorant Garamond";
    src: url(./resources/Cormorant_Garamond/CormorantGaramond-Light.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    margin: 0;
}

.container {
    background-image: url(./resources/pexels-tirachard-kumtanom-347139.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: fit-content;
    background-color: #fdba74;
}

.logo {
    font-size: 2rem;
    padding: 15px;
    font-family: "Cormorant Garamond";
}

.main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 2fr;
}

.controls {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.controls button {
    background-color: #ea580c;
    padding: 14px 28px;
    color: white;
    border-radius: 16px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

.controls button:active {
    box-shadow: inset 0px 0px 5px 2px #9a3412;
}

.form-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content(100%) 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #ffedd5;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 0px 10px 5px #fed7aa;
}

.form label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #7c2d12;
}

.form input {
    border-radius: 8px;
    border: 1px solid #fed7aa;
    padding: 5px;
}

.form input:focus {
    outline: none;
    border: 1px solid #fdba74;
}

.new-book {
    grid-area: 1 / span 2;
    margin-top: 10px;
    font-family: "Cormorant Garamond";
    font-size: 1.5rem;
}

.title {
    grid-area: 2 / span 2;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.author {
    display: flex;
    flex-direction: column;
    grid-area: 3 / span 2;
    margin: 10px;
}

.num-pages {
    display: flex;
    flex-direction: column;
    grid-area: 4 / span 2;
    margin: 10px;
}

.others {
    grid-area: 5 / span 2;
    margin: 10px;
}

.others input {
    accent-color: #f97316;
}

.add-book {
    grid-area: 6 / span 2;
}

.add-book button {
    padding: 14px 28px;
    border-radius: 12px;
    border: 0px;
    color: white;
    font-weight: bold;
    background-color: #f97316;
}

.add-book button:active {
    box-shadow: inset 0px 0px 5px 2px #ea580c;
}

.lib {
    grid-column: span 3;
}

